<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sj.sj.clipboardshare">

    <!-- 추가한 부분 시작 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 추가한 부분 끝 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask">

        <meta-data
            android:name="com.google.android.gms.API_KEY"
            android:value="AIzaSyDpoEiEyEkI7MEpdIsK3yZKggf5NZULqWk"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ShareActivity" />
        <service android:name=".ClipboardManager.ClipboardService"/>
    </application>

</manifest>